<app-navbar></app-navbar>

<app-herobar class="main-header">
  <!-- <div class="main-header bg-section">
    <div class="full-bg full-bg-gradient"></div>
  </div> -->
  <h2 class="display-3">Angular Agency</h2>
  <h4 class="pt-4">Hi, I am Przemyslaw Malara!</h4>
  <h4 class="pt-4">Welcome to my web portfolio</h4>
</app-herobar>

<div class="container">
  <div class="row py">
    <div class="row">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem quia
        excepturi iste incidunt. Tempore voluptatum error voluptate, pariatur
        placeat facere. Iure blanditiis inventore suscipit repellendus molestiae
        eveniet veniam ipsam ullam.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi itaque
        aliquid quod sint, et inventore nobis blanditiis sed! Harum tempora
        cumque repudiandae corrupti numquam quam mollitia quisquam. Tempora,
        optio placeat.
      </p>
    </div>
  </div>
</div>

<app-herobar>
  <h4 class="pt-4">Such a nice side...</h4>
</app-herobar>
