/* You can add global styles to this file, and also import other style files */
@import "/Users/przemyslawmalara/programowanie/Angular/portfolio/portfolio/node_modules/bootstrap/dist/css/bootstrap.css"; // $primary: hotpink;
// @import "/Users/przemyslawmalara/programowanie/Angular/portfolio/portfolio/node_modules/bootstrap/scss/bootstrap.scss";

.bg-section {
  background: url("/assets/bgAngular.jpg");
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 4rem 0;
}
